@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: #E8E8E8;
}

#HeaderHomeLogin {
	background-color: #000;
	color:#FFF;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 960px;
	margin: auto;
}

#HeaderBackground {
	background-color: #000;
	width:auto;
	margin: 0 0 0 0;
}

#menuHeader {
	float: left;
}

#menuHeader > a {
	display: block;
	font-size:15px;
	color:#E2DAE8;
	text-align:center;
	padding: 10px 30px 10px 30px;
	text-decoration: none;
}

#menuHeader > a:hover {
	display: block;
	background-color:#A950E8;
	font-size:15px;
	color:#E2DAE8;
	text-align:center;
	padding: 10px 30px 10px 30px;
	text-decoration: none;
}

a#menuHeader:hover {
	background: #900;
	color: #FFF;
}

.clear {
	clear: both;
}

#bodyDashboard {
	width: 880px;
	margin: 30px auto auto auto;
}

#spaceDashboard {
	width: 30px;
	float:left;
}

#leftDashboard {
	width: 270px;
	float: left;
	background-color:#A950E8;
	padding: 10px 10px 10px 10px;
}

#rightDashboard {
	width: 540px;
	float: left;
	background-color:#E2DAE8;
	padding: 10px 10px 10px 10px;
	
}

#bodyHome {
	width:780px;
	margin: auto;
}

#signin {
	background-color: #FFF;
	border: 2px solid #900;
	width: 360px;
	height: 120px;
	margin: 100px 300px 0 300px;
}

#headerHome {
	background-color: #000;
	color:#FFF;
	padding: 10px 0 10px 120px;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive;
	width:auto;
	height: 30px;
	margin: 0 0 0 0;
}

#coloumnLeftTop {
	width: 360px;
	height: 240px;
	margin: 40px 0 0 0;
	float: left;
	background-color:#A950E8;
}

#coloumnRightTop {
	width: 360px;
	height: 240px;
	margin: 40px 0 0 0;
	float: left;
	background-color: #E2DAE8;
}


#coloumnLeftBottom {
	width: 360px;
	height: 240px;
	margin: 60px 0 0 0;
	float: left;
	background-color:#98929C;
}

#coloumnRightBottom {
	width: 360px;
	height: 240px;
	margin: 60px 0 0 0;
	float: left;
	background-color: #71359C;
}

.space {
	float: left;
	width: 60px;
	height: 10px;
}

#usernameSignIn {
	width: 360px;
	height: 50px;
}

#passwordSignIn {
	width: 240px;
	height: 50px;
	float:left;
}

#TombolSignIn {
	height: 50px;
	width: 120px;
	float:left;
}

#signInHeader {
	height: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	font-size: 20px;
	margin: 30px 0 0 30px;
	padding: 10px 0 10px 0;
}

#forgetPassword {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	color: #E2DAE8;
	width:240px;
	height: 30px;
	margin: 0px 0px 0px 30px;
}

input[name=UsernameSignInForm] {
	width: 300px;
	height: 20px;
	margin: 10px 30px 10px 30px;
}

input[name=PasswordSignInForm] {
	width: 200px;
	height: 20px;
	margin: 0 30px 10px 30px;
}

#SignInButton {
	display: block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;	
	background-color:#006;
	width: 90px;
	height: 16px;
	padding: 5px 0 5px 0;
	text-decoration: none;
	margin-left: 5px;
	font-size:10px;
	color: #FFF;
}

#SignUp {
	width: 360px;
	height: 20px;
	margin: 20px 0 0 30px;
}

#SignUp {
	width: 360px;
	height: 20px;
	margin: 20px 0 0 30px;
}

#SignUpButton {
display: block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;	
	background-color:#006;
	width: 90px;
	height: 16px;
	padding: 5px 0 5px 0;
	text-decoration: none;
	margin-left: 215px;
	font-size:10px;
	color: #FFF;
}	

#SignUpHeader {
	width: 360px;
	height: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	font-size: 20px;
	margin: 30px 0 0 30px;

}

input[name=PasswordSignUpForm] {
	width: 300px;
	height: 20px;
	
}

input[name=UsernameSignUpForm] {
	width: 300px;
	height: 20px;

}

input[name=EmailSignUpForm] {
	width: 300px;
	height: 20px;

}